
body {
	background-image: url(bkgd.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}



img{
	margin-left:26%;
	width: 50%;
	
}

h1 {
    color: navy;
    margin-left: 20px;
}

table{
	padding-top:250px;
	margin-left:26%;
	
	
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	background-color: #FFFFFF;
	
}
th, td {
    padding: 20px;
    text-align: center;
}
div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img ahover img {
    border: 1px solid #0000ff;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 50px;
}